set linenumbers
set autoindent
set mouse
set whitespace "»·"

set tabsize 2
set tabstospaces

set titlecolor bold,white,blue
set promptcolor lightwhite,grey
set statuscolor bold,white,green
set errorcolor bold,white,red
set spotlightcolor black,lightyellow
set selectedcolor lightwhite,magenta
set stripecolor yellow
set numbercolor bold,white,blue
set keycolor bold,white,blue
set functioncolor bold,white
set matchbrackets "(<[{)>]}"

